
* {
  box-sizing: border-box;
}


/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'middle middle middle middle middle middle'
    'footer footer footer footer footer footer';
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

/* Style the header */
.header {
  text-align: center;
  background-color: #282c34;
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(2vmin);
  color: #61dafb;
}

  /* this is just a label, top center, of the current map style  */
  #mapViewType {
    text-decoration: none;
    background-color: #282c34;
    border: none;
    color: #61dafb;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    margin: 5px;
    padding: 2px;
  }

/* the map-container goes inside here */
.middle{
  grid-area: middle;
}

/* Style the footer, map-controls go inside here */
.footer {
  grid-area: footer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #282c34;
  border: none;
  color: #61dafb;
  text-align: center;
  text-decoration: none;
  font-size: 8px;
  cursor: pointer;
  margin:5px;
  padding:5px 0;
}

  .App-link {
    color: #61dafb;
    margin: 10px 0;
    font-size: 1em;
  }

  /* form element assigned this id  */
  #map-controls{
    text-decoration: none;
    background-color: #282c34;
    border: none;
    color: #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    cursor: pointer;
    margin:5px;
    padding:5px 0;
  }

    input {
      outline: none
    }

    .buttonLeft {
       border: none;
       text-decoration: none;
       margin: 5px 0 1px 1px;
       border-radius: 12px 0 0 12px;
       color:#000;
       background-color: #808080;/* #8d9aa5; */
       background: linear-gradient(#EDEDED, #4a525a);
       background: linear-gradient(linear, left top, left bottom, from(#EDEDED), to(#808080));
    }

    .buttonRight {
       border: none;
       text-decoration: none;
       margin: 5px 1px 0 1px;
       border-radius: 0 12px 12px 0;
       color:#000;
       background-color: #808080;/* #8d9aa5; */
       background: linear-gradient(#EDEDED, #4a525a);
       background: linear-gradient(linear, left top, left bottom, from(#EDEDED), to(#808080));
    }

      .buttonLeft:focus, .buttonRight:focus{
        background: linear-gradient(#808080, #000);
        text-decoration: none;
        color:#61dafb;
        }

      .buttonLeft:hover, .buttonRight:hover{
        background: linear-gradient(#808080, #000);
        text-decoration: none;
        color:#61dafb;
        }

      .buttonLeft:active, .buttonRight:active{
        background: linear-gradient(#808080, #000);
        text-decoration: none;
        color:#61dafb;
      }

/* sets a landscape layout - if screen is more than 680px wide */
@media (min-width: 680px) {
  .grid-container  {
    grid-template-areas:
      'header header header header header header'
      'middle middle middle middle middle middle'
      'footer footer footer footer footer footer';
  }
}
