/*  not needed for now 

---- basic reset styling for headings and paragraphs for main-content id element -----

#main-content h1, #main-content h2, #main-content h3, #main-content p {
  margin: 5px 0 0 0;
  padding: 0;
  color: #fff;
}

---- a Logo and Title Bar -----

#titleBar{
  padding:0;
  border:0;
  width:100%;
  height:40px;
  margin: 0;
  background-color: #fff;
}

#logoBox{
  position: absolute;
  top: 30%;
  left: 40%;
  width: 55px;
  height: 55px;
  display: inline;
  float: left;
  margin: 0 0 0 0;
  padding: 39px 0 0 0;
  border: none;
  color: #ddd;
  background-color: #4B4AA7;
  background-image: url(/static/media/Compass-128-4B4AA7.7c6782ad.png);
  background-size: 85%;
  background-position-y: top;
  background-position-x: center;
  background-repeat: no-repeat;
  text-align: center;
}

#title {
  font-size: 1.5em;
  background: #fff;
  color: #5a5a5a;
  width:80%;
  height: 60%;
  display:inline;
  float: left;
  margin: 0 65px;
  border:0;
  padding: 5px 3px;
}

#LgreyBox{
  background-color:  #bbb;
  height: 100%;
  margin:0;
  padding:0;
  border:0;
}

#RgreyBox{
  background-color:  #bbb;
  height: 100%;
  margin:0;
  padding:0;
  border:0;
}


------ Celsius vs Faranheight Toogle --------

.tempType {
  display:inline;
  border: none;
  outline: none;
  text-decoration: none;
  margin: 0;
  color:#aaa;
  font-size: 1em;
  border: none;
  background-color: #000;
  background: linear-gradient(#808080, #000);
  background: linear-gradient(linear, left top, left bottom, from(#808080), to(#000));
}

#tempTypeC {
  border-radius: 20% 0 0 20%;
}

#tempTypeF {
  border: none;
  border-radius: 0 20% 20% 0;
}
.tempType:hover, .tempType:active, .tempType:focus{
  color:#fff;
  background: linear-gradient(#000, #808080);
  background: linear-gradient(linear, left top, left bottom, from(#000), to(#808080));
}

*/
