extends ../layout
block content
  div(class="backHome-div")
    a(type="button" class="geo-button" id="backHome-button" title="backHome" href="/")
  div(style="padding-top:28px;" class="mainView" title='mainView' id=`${mainViewBackGround[arrayIndexNo]}`)
    include ./mainViewHeader/index.pug
    include ./tableHeader/index.pug
    div(class="scrollingEnabled")
      include ./tableDay/index.pug
    include ./tableWeek/index.pug
