extends layout
//- passed in variables to fill-in tag textContents's, href url paths and css id's
block content
  div(class="middle middle-grid-container")
    include ./titleBar.pug
    include ./navBar.pug
