extends layout
//- passed in variables to fill-in tag textContents's, href url paths and css id's
block content
  div(class="middle middle-grid-container")
    include ./initialView/titleBar.pug
    include ./initialView/navBar.pug
    include ./locationBarView/locationBar.pug
