doctype html
html
  head
    title WeatherX
    link(rel='stylesheet', href='/assets/css/App.css')
    link(rel='stylesheet', href='/assets/css/grid-main2.css')
    link(rel='stylesheet', href='/assets/css/locationBar.css')
    link(rel='stylesheet', href='/assets/css/mainView.css')
    link(rel='stylesheet', href='/assets/css/navBar3.css')
    link(rel='stylesheet', href='/assets/css/weather.css')
    link(rel='stylesheet', href='/assets/css/weather-icons.css')

  body
    div(id="Main" class="grid-main")
    div(class="left-margin")
    section(id="section1")
      block content
    div(class="right-margin")
