//- var Fahrenheit= ['temp', 'tempActive']
//- var Celsius = ['temp', 'tempActive']
//- var fClassIndex = 0
//- var cClassIndex = 0
script.
  function handleNavClick(event){
    if (event.target.title ==  "Fahrenheit"){
      document.getElementById("tempF").className = "wi wi-fahrenheit tempActive";
      document.getElementById("tempC").className = "wi wi-celsius temp";
    } else {
      document.getElementById("tempF").className = "wi wi-fahrenheit temp";
      document.getElementById("tempC").className = "wi wi-celsius tempActive";
    }
  }
div(id="navBar" class="middle-grid-item-1")
  form( id="inputControls" action="\weather" method="get")
    input(type="text" name="geoCodeThis" id="geoCoding-TextInput" placeholder=`${initialView.defaultMsg}` required onChange=handleInputChange)
    input(type="submit" defaultValue=" " id="geoCoding-TextSubmit" title="Submit Search" onClick=handleNavSubmit onSubmit=handleNavSubmit)
    if forecast
        div(class="controlsDiv")
          span(id="tempSpacer")
          i(class="wi wi-celsius temp" id="tempC" title="Celsius" onClick="handleNavClick(event)")
          span(id="tempSpacer")
          i(class="wi wi-fahrenheit tempActive" id="tempF" title="Fahrenheit" onClick="handleNavClick(event)")
