div(id="titleBar" class='middle-grid-item-0')
  a(id="title" href="https://pereznetworks.github.io/TD-Project12/") WeatherX
  a(id="titleText" href="https://github.com/pereznetworks/TD-Project12/tree/master") About WeatherX
  a(class="attribLink" href="https://teamtreehouse.com") Thanks to: Team Treehouse.
  a(class="attribLink" href="https://darksky.net/poweredby/") Powered By Dark Sky
  a(class="attribLink" href="https://developer.tomtom.com/tomtom-maps-apis-developers") and Tom Tom
