
.locationBar-div {
  width: 100%;
  height: 160px;
  margin: 5% 0 0 0;
  padding: 10px 0;
  color: #f5f5f5;
}

.hideLocationBarDiv{
  display:none;
}

#cityTime-div{
  display: inline;
  float: left;
  height: 100%;
  width: 35%;
  margin: 0;
  padding: 0 0 0 2%;
  font-size: 20px;
}

  #cityTime-div p {
    margin:8% 10%;
    padding: 1% 0;
    display: block;
    line-height:13px;
    font-size: 1.6em;
  }

  #locationTime{
    padding: 2% 0 2% 0;
  }

  #locationName{
   padding: 0 0 3% 0;
  }

#locationCondition{
  height:100%;
  width: 30%;
  display: inline;
  float: left;
  color:#fff;
  padding: 4% 4%;
  font-size: 4em;
  text-align: center;
}

#conditionIcon:hover{
 color:#4B4AA7;
}

#temp-div0, #temp-div1, #temp-div2, #temp-div3, #temp-div4, #temp-div5, #temp-div6, #temp-div7, #temp-div8, #temp-div9, #temp-div10{
  display: inline;
  float: left;
  height: 100%;
  width: 25%;
  margin: 0;
  padding: 1% 1% 0 2%;
}

  .currentTemp {
    float: right;
    display: block;
    line-height: 22px;
    margin: 0% 0% 3% 0;
    padding: 14% 0;
    font-size: 4.2em;
  }

  .hideTemp {
    float: left;
    font-size: 0;
    display: none;
    line-height: 0;
    }

  .tempTypeC, .tempTypeF{
    float: right;
    font-size: .6em;
    display: block;
    line-height: 22px;
    margin: 4% 0% 0 0;
    padding: 0% 0 0% 0;
  }

  .removeLocation{
    background-image:url('../imgs/Garbage-Open-48-W-T.png');
    float:left;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 140%;
    text-decoration: none;
    vertical-align:middle;
    width:5%;
    height:100%;
    margin: 0 2%;
    padding: 0;
  }

  .removeLocation:hover{
    background-image:url('../imgs/Garbage-Open-48-4B4AA7-T.png');
  }

@media (min-width: 560px) and (orientation: landscape) {
  .locationBar-div{
    width: 70%;
    height: 100px;
    padding: 0 0 0 0;
    margin: 0 0 0 15%;
  }

  #cityTime-div{
    font-size: 12px;
    margin: 3% 0;
  }

    #cityTime-div p {
      margin:8% 10%;
      padding: 3% 0 0 0;
      display: block;
      line-height:13px;
      font-size: 1.2em;
    }

    #locationTime{
      padding: 2% 0 2% 0;
    }

    #locationName{
     padding: 0 0 3% 0;
    }

  #locationCondition{
    font-size: 3em;
    padding: 20px 20px;
  }

  #locationCondition{
    height:100%;
    width: 30%;
    display: inline;
    float: left;
    color:#fff;
    margin: 4% 0;
    padding: 4% 4%;
    font-size: 2em;
    text-align: center;
  }

  #temp-div0, #temp-div1, #temp-div2, #temp-div3, #temp-div4, #temp-div5, #temp-div6, #temp-div7, #temp-div8, #temp-div9, #temp-div10{
    display: inline;
    float: left;
    height: 100%;
    width: 25%;
    margin: 0;
    padding: 2% 1% 0 2%;
  }

    .currentTemp {
      float: right;
      display: block;
      line-height: 22px;
      margin: 12% 0% 3% 0;
      padding: 14% 0;
      font-size: 2.8em;
    }

    .hideTemp {
      float: left;
      font-size: 0;
      display: none;
      line-height: 0;
      }

    .tempTypeC, .tempTypeF{
      float: right;
      font-size: .6em;
      display: block;
      line-height: 22px;
      margin: 4% 0% 0 0;
      padding: 0% 0 0% 0;
    }

    .removeLocation{
      background-image:url('../imgs/Garbage-Open-48-W-T.png');
      float:left;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 140%;
      text-decoration: none;
      vertical-align:middle;
      width:5%;
      height:100%;
      margin: 0 2%;
      padding: 0;
    }

    .removeLocation:hover{
      background-image:url('../imgs/Garbage-Open-48-4B4AA7-T.png');
    }


}

@media (min-width: 1020px) and (orientation: landscape) {
  .locationBar-div{
    height: 100px;
    margin: 0 0 0 0;
  }

  #cityTime-div{
    margin: 0 0;
  }
  #cityTime-div p{
    margin: 0 10%;
    font-size: .8em;
  }

    #cityTime-div p {
      margin:8% 10%;
      padding: 3% 0 0 0;
      display: block;
      line-height:13px;
      font-size: 1.2em;
    }

    #locationTime{
      padding: 2% 0 2% 0;
    }

    #locationName{
     padding: 0 0 3% 0;
    }

  #locationCondition{
    font-size: 3em;
    padding: 20px 20px;
  }

  #locationCondition{
    height:100%;
    width: 30%;
    display: inline;
    float: left;
    color:#fff;
    padding: 0% 4%;
    font-size: 2em;
    text-align: center;
  }

  #temp-div0, #temp-div1, #temp-div2, #temp-div3, #temp-div4, #temp-div5, #temp-div6, #temp-div7, #temp-div8, #temp-div9, #temp-div10{
    display: inline;
    float: left;
    height: 100%;
    width: 25%;
    margin: 0;
    padding: 2% 1% 0 2%;
  }

    .currentTemp {
      float: right;
      display: block;
      line-height: 22px;
      margin: 9% 0% 0% 0;
      padding: 0;
      font-size: 3.4em;
    }

    .hideTemp {
      float: left;
      font-size: 0;
      display: none;
      line-height: 0;
      }

    .tempTypeC, .tempTypeF{
      float: right;
      font-size: .6em;
      display: block;
      line-height: 22px;
      margin: 4% 0% 0 0;
      padding: 0% 0 0% 0;
    }

    .removeLocation{
      background-image:url('../imgs/Garbage-Open-48-W-T.png');
      float:left;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: 120%;
      text-decoration: none;
      vertical-align:middle;
      width:5%;
      height:100%;
      margin: 0 2%;
      padding: 0;
    }

    .removeLocation:hover{
      background-image:url('../imgs/Garbage-Open-48-4B4AA7-T.png');
    }


}

/*  not needed for now
#refreshButton{
  background-image:url('../imgs/Refresh-48.png');
  float:left;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  text-decoration: none;
  vertical-align:middle;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  margin: 0;
  padding: 0;
  display:none;
}

#refreshButton:hover{
  background-image:url('../imgs/Refresh-48-4B4AA7-B.png');
}
*/
