
*{
  color: #E0E0E0;
  font-size: 16px;
}

.mainView{
  scroll-behavior: auto;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 4em 0 0 0;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

  #mainViewHeader{
    width:100%;
    height:15%;
    display:block;
    margin:8% 0 0 0;
    padding:6% 0 0 0;
  }

    #mainViewHeader h3, #mainViewHeader h1, #mainViewHeader p{
      margin: 1% 0 0 0;
      font-size: 2.4em;
      padding:0;
    }

    #cityName, #currentConditions, #todayTemp, #AboutHeader{
      display:block;
      text-align:center;
      font-size: 1.6em;
    }

    #cityName {
      padding-top: 10px;

    }

  #tableHdr{
    width: 100%;
    height:10%;
  }

    #tableHdr #dayOfWeek{
      width:21%;
      text-align: left;
      padding: 0 0 0 5%;
      font-size: 2.2em;
    }

    #today{
      font-size: 1.8em;
      width:10%;
      padding: 0 0 0 10px;
      text-align:center;
    }
    #blank{
      width:14%;
    }

    #tempHigh, #tempLow{
      width:14%;
      font-size: 2.2em;
    }

  .scrollingEnabled{
    overflow: scroll;
    height: 30%;
  }

    #tableDays {
      font-size: 1.6em;
      width: 100%;
      height: 100%;
      border-top: 1px solid #f9f9f9a8;
      border-bottom: 1px solid #f9f9f9a8;
    }

      #tableDays th, #tableDays td{
        text-align: center;
        margin: 0 0 0 10%;
        padding: 0 30px;
        background: transparent;
        font-weight: lighter;
      }

      #tableDays .hourOfDay{
        font-size: 38px;
      }

      #todayTempType{
        font-size: .6em;
        vertical-align: super;
      }

  #tableWeek{
    height:40%;
  }

    #tableWeek tbody{
      margin: 0;
    }

    #tableWeek tr, #tableWeek th{
      margin: 0;
      height: 0;
      padding: 0;
      width:20%;
      font-size: 1.8em;
    }

    #tableWeek #dayOfWeek{
      font-size: 1.6em;
      text-align: center;
    }

    #twTempHigh, #twTempLow {
    text-align: center;
    font-size: 1.6em;
    padding: 0 0 0 20px;
    }

@media (min-width: 560px) and (orientation: landscape){
  #mainView{
    padding:0;
  }
  #mainViewHeader h3, #mainViewHeader h1, #mainViewHeader p{
    font-size: 1.2em;
    margin:0 0 0 0;
  }
  .scrollingEnabled{
    overflow: scroll;
    height: 25%;
  }

  #tableDays {
    font-size: .8em;
    width: 100%;
    height: 100%;
    border-top: 1px solid #f9f9f9a8;
    border-bottom: 1px solid #f9f9f9a8;
  }
}
