

.weatherSummary, .hourOfDay, .hourlyTemp{
    text-align: left;
    align-content: left;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    text-decoration: none;
    font-size: 2em;
    border: none;
    vertical-align:middle;
    padding: 0;
    text-align: center;
    align-content: center;
    height: 30px;
    width: 30px;
    border-radius: 6px;
}

#forecastCondition .wi{
    width: 35%;
    font-size: 2.6em;
    line-height: 1em;
    padding: 0 0 0 120px;
}

.weatherSummary .wi{
  width:35%;
  font-size: 2em;
  line-height: 1em;
}

#clearNight, #partlyCloudyDay, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight {
 float:left;
 width: 100%;
 height: 100%;
 margin: 0 0 0 0;
 z-index: -1;
 background-color: #484848;
 background-image: linear-gradient(to bottom left, #484848,#48c4e0); /* Standard syntax (must be last) */

}

#clearNight, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight {
 float:left;
 width: 100%;
 height: 100%;
 margin: 0 0 0 0;
 z-index: -1;
 background-color: #757575;
 background-image: linear-gradient(to bottom left, #757575,#040429); /* Standard syntax (must be last) */
}

#locationBar-clearDay, #locationBar-cloudyDay, #locationBar-partlyCloudyDay, #locationBar-foggyDay, #locationBar-windyDay, #locationBar-snowyDay, #locationBar-rainyDay, #locationBar-thunderDay  {
  height:160px;
  padding-top:12px;
  background-color: #484848;
  background-image: linear-gradient(to bottom left, #484848,#48c4e0); /* Standard syntax (must be last) */
}

#locationBar-clearNight, #locationBar-cloudyNight, #locationBar-partlyCloudyNight, #flocationBar-foggyNight, #locationBar-windyNight, #locationBar-snowyNight, #locationBar-rainyNight, #locationBar-thunderNight {
  height:160px;
  padding-top:12px;
  background-color: #757575;
  background-image: linear-gradient(to bottom left, #757575,#040429); /* Standard syntax (must be last) */
}


@media (min-width: 560px) and (orientation: landscape){
  #locationBar-clearDay, #locationBar-cloudyDay, #locationBar-partlyCloudyDay, #locationBar-foggyDay, #locationBar-windyDay, #locationBar-snowyDay, #locationBar-rainyDay, #locationBar-thunderDay  {
    height:80px;
  }

  #locationBar-clearNight, #locationBar-cloudyNight, #locationBar-partlyCloudyNight, #flocationBar-foggyNight, #locationBar-windyNight, #locationBar-snowyNight, #locationBar-rainyNight, #locationBar-thunderNight {
    height:80px;
  }

   #clearNight, #partlyCloudyDay, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight {
    width: 100%;
    height: 100%;
    padding: 0 0 4% 0;
    margin: 0 0 0 0;
  }

  #clearNight, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight {
    width: 100%;
    height: 100%;
    padding: 0 0 4% 0;
    margin: 0 0 0 0;
  }
}


/* #cloud{
  background-image:url('../imgs/weather/Cloud-48.png');
}

#fog{
  background-image:url('../imgs/weather/Cloud-48.png');
}

#rain{
  background-image:url('../imgs/weather/Rain-48.png');
}

#snow{
  background-image:url('../imgs/weather/Snow-48.png');
}

#thunder{
  background-image:url('../imgs/weather/Thunder-48.png');
}

#snow{
  background-image:url('../imgs/weather/Sun-48.png');
}

#scatteredShowers{
  background-image:url('../imgs/weather/ScatteredShowers-48.png');
}

#partly-cloudy{
  background-image:url('../imgs/weather/PartlyCloudy-48.png');
}

#wind{
  background-image:url('../imgs/weather/Wind-48.png');
} */
