

.weatherSummary, .hourOfDay, .hourlyTemp{
    text-align: left;
    align-content: left;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    text-decoration: none;
    font-size: 2em;
    border: none;
    vertical-align:middle;
    padding: 0;
    text-align: center;
    align-content: center;
    height: 30px;
    width: 30px;
    border-radius: 6px;
}

#forecastCondition .wi{
    width: 35%;
    font-size: 2.6em;
    line-height: 1em;
    padding: 0 0 0 120px;
}

.weatherSummary .wi{
    width: 35%;
    font-size: 1.4em;
    line-height: 1em;
}

#clearDay, #cloudyDay, #partlyCloudyDay, #foggyDay, #windyDay, #snowyDay, #rainyDay, #thunderDay  {
 float:left;
 width: 100%;
 height: 120%;
 margin: 0 0 0 0;
 padding: 0 2%;
 z-index: -1;
 background-color: #484848;
 background-image: linear-gradient(to bottom left, #484848,#48c4e0); /* Standard syntax (must be last) */

}

#clearNight, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight {
 float:left;
 width: 100%;
 height: 120%;
 margin: 0 0 0 0;
 padding: 2% 0;
 z-index: -1;
 background-color: #757575;
 background-image: linear-gradient(to bottom left, #757575,#040429); /* Standard syntax (must be last) */
}

#locationBar-clearDay, #locationBar-cloudyDay, #locationBar-partlyCloudyDay, #locationBar-foggyDay, #locationBar-windyDay, #locationBar-snowyDay, #locationBar-rainyDay, #locationBar-thunderDay  {
  height:200px;
  width: 100%;
  padding-top:12px;
  background-color: #484848;
  background-image: linear-gradient(to bottom left, #484848,#48c4e0); /* Standard syntax (must be last) */
}

#locationBar-clearNight, #locationBar-cloudyNight, #locationBar-partlyCloudyNight, #flocationBar-foggyNight, #locationBar-windyNight, #locationBar-snowyNight, #locationBar-rainyNight, #locationBar-thunderNight {
  height:200px;
  width: 100%;
  padding-top:12px;
  background-color: #757575;
  background-image: linear-gradient(to bottom left, #757575,#040429); /* Standard syntax (must be last) */
}


/* @media  screen and (min-width: 768px) {

  #locationBar-clearDay, #locationBar-cloudyDay, #locationBar-partlyCloudyDay, #locationBar-foggyDay, #locationBar-windyDay, #locationBar-snowyDay, #locationBar-rainyDay, #locationBar-thunderDay{
    width: 70%;
    height: 100px;
    padding: 0 0 0 0;
    margin: 0% 0 0 15%;
  }

  #locationBar-clearNight, #locationBar-cloudyNight, #locationBar-partlyCloudyNight, #flocationBar-foggyNight, #locationBar-windyNight, #locationBar-snowyNight, #locationBar-rainyNight, #locationBar-thunderNight {
    width: 70%;
    height: 100px;
    padding: 0 0 0% 0;
    margin: 0% 0 0 15%;
  }

  #clearNight, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight{
    width: 100%;
    height: 150%;
    padding: 0 0 4% 0;
    margin: 0 0 0 0;
  }

  #clearDay, #cloudyDay, #partlyCloudyDay, #foggyDay, #windyDay, #snowyDay, #rainyDay, #thunderDay  {
    width: 100%;
    height: 150%;
    padding: 0 0 4% 0;
    margin: 0 0 0 0;
  }

  .weatherSummary .wi{
    width:35%;
    font-size: .8em;
    line-height: 1em;
  }

  #forecastCondition .wi{
      width: 35%;
      font-size: 1em;
      line-height: 1em;
      padding: 0 0 0 120px;
  }

} */

/* @media  screen and (min-height: 800px) and (orientation: portrait){

    #locationBar-clearDay, #locationBar-cloudyDay, #locationBar-partlyCloudyDay, #locationBar-foggyDay, #locationBar-windyDay, #locationBar-snowyDay, #locationBar-rainyDay, #locationBar-thunderDay{
      width: 100%;
      height: 100px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }

    #locationBar-clearNight, #locationBar-cloudyNight, #locationBar-partlyCloudyNight, #flocationBar-foggyNight, #locationBar-windyNight, #locationBar-snowyNight, #locationBar-rainyNight, #locationBar-thunderNight {
      width: 100%;
      height: 100px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }

    #clearNight, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight{
      width: 100%;
      height: 150%;
      padding: 0 0 4% 0;
      margin: 0 0 0 0;
    }

    #clearDay, #cloudyDay, #partlyCloudyDay, #foggyDay, #windyDay, #snowyDay, #rainyDay, #thunderDay  {
      width: 100%;
      height: 150%;
      padding: 0 0 4% 0;
      margin: 0 0 0 0;
    }

    .weatherSummary .wi{
      width:35%;
      font-size: .8em;
      line-height: 1em;
    }

    #forecastCondition .wi{
        width: 35%;
        font-size: 1em;
        line-height: 1em;
        padding: 0 0 0 120px;
    }

} */

/* @media  screen and (min-width: 800px) and (min-height: 1024px) {

    #locationBar-clearDay, #locationBar-cloudyDay, #locationBar-partlyCloudyDay, #locationBar-foggyDay, #locationBar-windyDay, #locationBar-snowyDay, #locationBar-rainyDay, #locationBar-thunderDay{
      width: 100%;
      height: 100px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }

    #locationBar-clearNight, #locationBar-cloudyNight, #locationBar-partlyCloudyNight, #flocationBar-foggyNight, #locationBar-windyNight, #locationBar-snowyNight, #locationBar-rainyNight, #locationBar-thunderNight {
      width: 100%;
      height: 100px;
      padding: 0 0 0 0;
      margin: 0 0 0 0;
    }

    #clearNight, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight{
      width: 100%;
      height: 150%;
      padding: 0 0 4% 0;
      margin: 0 0 0 0;
    }

    #clearDay, #cloudyDay, #partlyCloudyDay, #foggyDay, #windyDay, #snowyDay, #rainyDay, #thunderDay  {
      width: 100%;
      height: 150%;
      padding: 0 0 4% 0;
      margin: 0 0 0 0;
    }

    .weatherSummary .wi{
      width:35%;
      font-size: .8em;
      line-height: 1em;
    }

    #forecastCondition .wi{
        width: 35%;
        font-size: 1em;
        line-height: 1em;
        padding: 0 0 0 120px;
    }

} */

@media screen and (min-width: 768px) and (orientation: landscape){

  .weatherSummary, .hourOfDay, .hourlyTemp{
      text-align: left;
      align-content: left;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      text-decoration: none;
      font-size: 2em;
      border: none;
      vertical-align:middle;
      padding: 0;
      text-align: center;
      align-content: center;
      height: 30px;
      width: 30px;
      border-radius: 6px;
  }

  #forecastCondition .wi{
      width: 35%;
      font-size: 1.2em;
      line-height: 1em;
      padding: 0 0 0 120px;
  }

  .weatherSummary .wi{
    width:35%;
    font-size: 1.2em;
    line-height: 1em;
  }

  #clearDay, #cloudyDay, #partlyCloudyDay, #foggyDay, #windyDay, #snowyDay, #rainyDay, #thunderDay  {
   float:left;
   width: 100%;
   height: 130%;
   margin: 0 0 0 0;
   z-index: -1;
   background-color: #484848;
   background-image: linear-gradient(to bottom left, #484848,#48c4e0);
  }

  #clearNight, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight {
   float:left;
   width: 100%;
   height: 140%;
   margin: 0 0 0 0;
   z-index: -1;
   background-color: #757575;
   background-image: linear-gradient(to bottom left, #757575,#040429);
  }

  #locationBar-clearDay, #locationBar-cloudyDay, #locationBar-partlyCloudyDay, #locationBar-foggyDay, #locationBar-windyDay, #locationBar-snowyDay, #locationBar-rainyDay, #locationBar-thunderDay  {
    margin-left: 98px;
    width: 70%;
    height:100px;
    padding: 0 0 0 0;
    background-color: #484848;
    background-image: linear-gradient(to bottom left, #484848,#48c4e0);
  }

  #locationBar-clearNight, #locationBar-cloudyNight, #locationBar-partlyCloudyNight, #flocationBar-foggyNight, #locationBar-windyNight, #locationBar-snowyNight, #locationBar-rainyNight, #locationBar-thunderNight {
    margin-left: 15%;
    width: 70%;
    height:100px;
    padding: 0 0 0 0;
    background-color: #757575;
    background-image: linear-gradient(to bottom left, #757575,#040429);
  }

}

@media screen and (min-width: 1000px) and (orientation: landscape){

  .weatherSummary, .hourOfDay, .hourlyTemp{
      text-align: left;
      align-content: left;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      text-decoration: none;
      font-size: 2em;
      border: none;
      vertical-align:middle;
      padding: 0;
      text-align: center;
      align-content: center;
      height: 30px;
      width: 30px;
      border-radius: 6px;
  }

  #forecastCondition .wi{
      width: 35%;
      font-size: 1.2em;
      line-height: 1em;
      padding: 0 0 0 120px;
  }

  .weatherSummary .wi{
    width:35%;
    font-size: 1.2em;
    line-height: 1em;
  }

  #clearDay, #cloudyDay, #partlyCloudyDay, #foggyDay, #windyDay, #snowyDay, #rainyDay, #thunderDay  {
   float:left;
   width: 100%;
   height: 130%;
   margin: 0 0 0 0;
   z-index: -1;
   background-color: #484848;
   background-image: linear-gradient(to bottom left, #484848,#48c4e0);
  }

  #clearNight, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight {
   float:left;
   width: 100%;
   height: 140%;
   margin: 0 0 0 0;
   z-index: -1;
   background-color: #757575;
   background-image: linear-gradient(to bottom left, #757575,#040429);
  }

  #locationBar-clearDay, #locationBar-cloudyDay, #locationBar-partlyCloudyDay, #locationBar-foggyDay, #locationBar-windyDay, #locationBar-snowyDay, #locationBar-rainyDay, #locationBar-thunderDay  {
    margin-left: 158px;
    width: 70%;
    height:100px;
    padding: 0 0 0 0;
    background-color: #484848;
    background-image: linear-gradient(to bottom left, #484848,#48c4e0);
  }

  #locationBar-clearNight, #locationBar-cloudyNight, #locationBar-partlyCloudyNight, #flocationBar-foggyNight, #locationBar-windyNight, #locationBar-snowyNight, #locationBar-rainyNight, #locationBar-thunderNight {
    margin-left: 158px;
    width: 70%;
    height:100px;
    padding: 0 0 0 0;
    background-color: #757575;
    background-image: linear-gradient(to bottom left, #757575,#040429);
  }

}

@media screen and (min-width: 1200px) and (orientation: landscape){

  .weatherSummary, .hourOfDay, .hourlyTemp{
      text-align: left;
      align-content: left;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      text-decoration: none;
      font-size: 2em;
      border: none;
      vertical-align:middle;
      padding: 0;
      text-align: center;
      align-content: center;
      height: 30px;
      width: 30px;
      border-radius: 6px;
  }

  #forecastCondition .wi{
      width: 35%;
      font-size: 1.2em;
      line-height: 1em;
      padding: 0 0 0 120px;
  }

  .weatherSummary .wi{
    width:35%;
    font-size: 1.2em;
    line-height: 1em;
  }

  #clearDay, #cloudyDay, #partlyCloudyDay, #foggyDay, #windyDay, #snowyDay, #rainyDay, #thunderDay  {
   float:left;
   width: 100%;
   height: 130%;
   margin: 0 0 0 0;
   z-index: -1;
   background-color: #484848;
   background-image: linear-gradient(to bottom left, #484848,#48c4e0);

  }

  #clearNight, #cloudyNight, #partlyCloudyNight, #foggyNight, #windyNight, #snowyNight, #rainyNight, #thunderNight {
   float:left;
   width: 100%;
   height: 140%;
   margin: 0 0 0 0;
   z-index: -1;
   background-color: #757575;
   background-image: linear-gradient(to bottom left, #757575,#040429);
  }

  #locationBar-clearDay, #locationBar-cloudyDay, #locationBar-partlyCloudyDay, #locationBar-foggyDay, #locationBar-windyDay, #locationBar-snowyDay, #locationBar-rainyDay, #locationBar-thunderDay  {
    margin-left: 203px;
    width: 70%;
    height:100px;
    padding: 0 0 0 0;
    background-color: #484848;
    background-image: linear-gradient(to bottom left, #484848,#48c4e0);
  }

  #locationBar-clearNight, #locationBar-cloudyNight, #locationBar-partlyCloudyNight, #flocationBar-foggyNight, #locationBar-windyNight, #locationBar-snowyNight, #locationBar-rainyNight, #locationBar-thunderNight {
    margin-left: 203px;
    width: 70%;
    height:100px;
    padding: 0 0 0 0;
    background-color: #757575;
    background-image: linear-gradient(to bottom left, #757575,#040429);
  }

}
