* {
  box-sizing: border-box;
  font-size: 12px;
  border: none;
  outline: none;
}

body {
  background-color: #282c34;
}

/* The main grid  */

.grid-main{
  width:100%;
  height:100%;
  display: grid;
  grid-template-areas:'middle middle middle middle middle middle';
  /* grid-column-gap: 10px; - if you want gap between the columns */
}

.left-margin {
  display:none;
  grid-area: left;
  width:0;
  height: 100%;
  background-color: #282c34;
}

.middle {
  display:inline;
  grid-area: middle;
  width:100%;
  margin: 0;
  height:fit-content;
  background-color: #282c34;
  z-index: +1;

}

.right-margin {
  display:none;
  grid-area: right;
  width:0;
  height: 0%;
  background-color: #282c34;
}

.fillin{
  background-color: #282c34;
  width:0%;
  height:100%;

}

.middle-grid-container {
  width:100%;
  /* top: 20%; */
  display: grid;
  grid-template-columns: auto;
  padding: 10px;
  margin: 0;
}

.middle-grid-item-0, .middle-grid-item-1, .middle-grid-item-2, .middle-grid-item-3, .middle-grid-item-4,
.middle-grid-item-5, .middle-grid-item-6, .middle-grid-item-7, .middle-grid-item-8, .middle-grid-item-9 {
  /* background-color: #000; */
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  height:80px;
  padding:1%;
}

/* @media only screen and (min-width: 432px){
  .grid-main{
    width:100%;
    height:100%;
    display: grid;
    grid-template-areas:'middle middle middle middle middle middle';
  }

  .left-margin, .right-margin{
   display:none;
   width:100%;
   z-index: +1;
  }

  .middle{
    width:100%;
  }
} */

/* @media only screen and (min-width: 560px){
  .grid-main{
    width:100%;
    height:100%;
    display: grid;
    grid-template-areas:'left middle middle middle middle right';
  }

  .left-margin, .right-margin{
   display:inline;
   width:100%;
   z-index: +1;
  }

  .middle{
    width:100%;
  }
} */

@media only screen and (min-width: 720px){

  .grid-main{
    width:100%;
    height:100%;
    display: grid;
    grid-template-areas:'left middle middle right';
    /* grid-column-gap: 10px; - if you want gap between the columns */
  }

  .left-margin, .right-margin{
   display:inline;
   width:100%;
   z-index: +1;
  }

  .middle{
    width:100%;
  }


}

@media only screen and (min-width: 1020px){
  *{
    font-size: 16px;
  }

}
