/* Default styling rules are...
   designed for smallest portrait-mode mobile devices first
   media queries adapt for larger screens and then landscape-mode
*/

#logoBox{
  background-image:url('../imgs/Compass-128-4B4AA7.png');
  position: 0;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  background-size: 100%;
  text-decoration: none;
  font-size: .8em;
  color: #000;
  width: 80px;
  height: 80px;
  border: none;
  vertical-align:middle;
  text-align: center;
  align-content: center;
}

#navBar3{
  align-content: center;
  text-align: center;
  justify-content: center;
  height: fit-content;
  background-color: #282c34;
  color:#fff;
  width:auto;
  margin-top: 2%;
}

#titleBar{
  padding:0;
  border:0;
  width:100%;
  height:100%;
  margin: 0;
  text-align: center;
}

#title {
  font-size: 1.5em;
  color: #fff;
  width: auto;
  height: 60%;
  margin: 0 0;
  border: 0;

}

#titleText {
  font-size: .8em;
  color: #fff;
  width: 100%;
  height: 60%;
  display: block;
  text-align: center;
  margin: 0 0;
  border: 0;

}

#geoLocation{
  display:inline;
  margin: 10% 0 0 0;
  background-color: #000;
}

.geo-button-div, {
  width:auto;
}

.about-button-div{
  display:inline;
  width:30px;
  float:left;
  text-align: left;
}

.geocoding-div{
  float:left;
  display:inline;
  margin: 0 0 0 0%;
  width: 240px;
}

.geolocation-div {
  display: inline;
  width: 30px;
  float: left;
  margin: 0;
}

.geo-button, .about-button{
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  background-size: 120%;
  text-decoration: none;
  font-size: .8em;
  color: #fff;
  border: none;
  vertical-align:middle;
  padding: 0;
  text-align: center;
  align-content: center;
  height: 30px;
  width: 30px;
  border-radius: 6px;
}

.geo-button-label, .about-button-label {
  display:block;
  text-align: center;
  align-content: center;
  width:auto;
  height: 20px;
  font-size: .8em;
}

#geoCoding-TextInput {
  border: 0 solid #000;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  color: #000;
  /* background: url(./...pmg) 0 0; */
  background-color: #bbb;
  width: 80%;
  height: 29px;
  display: inline;
  font-size: .8em;
  vertical-align: middle;
  /* padding: 0 10px; */
  margin-right: 1%;
  padding: 0;
  margin: 0;
}

#geoCoding-TextInput::placeholder{
  color:#000;
}

#geoCoding-TextSubmit {
  background-image:url('../imgs/Search-48-4B4AA7-B.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  text-decoration: none;
  color: #000;
  background-color: #000;
  width: 30px;
  height: 30px;
  display: inline;
  border: none;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 0 2%;
  border-radius: 6px;
}

#geoCoding-TextSubmit:hover {
  background-image:url('../imgs/Search-48-B-4B4AA7.png');
}

#geoLocation-Submit {
    background-image:url('../imgs/FindMe-48-4B4AA7-B.png');
}

#about-Submit {
    background-image:url('../imgs/About-48-4B4AA7-B.png');
}

#geoCoding-Submit {
    background-image:url('../imgs/Search-48-4B4AA7-B.png');
}

#about-Submit:hover {
    background-image:url('../imgs/About-48-B-4B4AA7.png');
}

#geoCoding-Submit:hover {
    background-image:url('../imgs/Search-48-B-4B4AA7.png');
}

#geoLocation-Submit:hover{
    background-image:url('../imgs/FindMe-48-B-4B4AA7.png');
}

#geoCoding-Input, #geoCoding-Submit, #geoCoding-Label, #geoLocation-Label, #about-Button-Label{
  display:none;
}

#mainView {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #282c34;
  display: inline;
  float: left;
  width: 100%;
  height: -webkit-fill-available;
  z-index: -1;
}

/* #mainView div {
  width:300px;
  height:600px;
  text-align: center;
  background-color:#000;
} */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Media Queries
   built and tested on Safaris Responsive Design Mode and Chrome DevTools Device Toolbar
   and a few actual Apple Android devices, Macs and Windows 10 PC's
*/


@media only screen and (min-width: 360px) {

  .geolocation-div{
    margin: 0 1% 0 2%;
  }

  .geocoding-div {
    width: 270px;
  }

  #geoCoding-TextInput {
    width: 85%;
    margin: 0 1.2% 0 0;
  }

  .about-button-div{
    margin: 0 0 0 1%;
  }

}

@media only screen and (min-width: 560px) and (min-height: 320px) {

  .geolocation-div{
    margin: 0 1% 0 22%;
  }

  .geocoding-div {
    width: 270px;
  }

  #geoCoding-TextInput {
    width: 85%;
    margin: 0 1.2% 0 0;
  }

  .about-button-div{
    margin: 0 0 0 1%;
  }

}

@media only screen and (min-width: 410px) and (min-height:660px){

  .geolocation-div{
    margin: 0 1% 0 6%;
  }

  .geocoding-div{
    width: 260px;
  }

  #geoCoding-TextInput {
    width: 85%;
    margin: 0 1% 0 0;
  }
}

@media only screen and (min-width: 720px) and (min-height:300px){
  #navBar3{
    margin-top: 2%;
  }

  .about-button-div{
    display:inline;
    width:100px;
    float:left;
    margin: 0;
    text-align: left;
  }

  .geocoding-div{
    float:left;
    display:inline;
    margin: 0 0 0 0%;
    width: 450px;
  }

  .geolocation-div {
    display: inline;
    width: 30px;
    float: left;
    margin: 0 0 0 16%;
  }

  .geo-button, .about-button{
    height: 30px;
    width: 30px;
    margin: 0 0 2% 0;
  }

  #geoCoding-Input, #geoCoding-Submit, #geoCoding-Label, #geoLocation-Label, #about-Button-Label{
    display:none;
  }

  #geoCoding-TextInput {
    border-radius: 6px;
    width: 390px;
    height: 30px;
    display: inline;
    font-size: .8em;
    padding: 0 10px;
    margin: 0px 0;
  }

  #geoCoding-TextSubmit {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 0 0 2%;
    border-radius: 6px;
  }

  #geoCoding-TextSubmit:hover {
    background-image:url('../imgs/Search-48-B-4B4AA7.png');
  }
}

@media only screen and (min-width: 800px) and (min-height:375px){
  #navBar3{
    margin-top: 2%;
  }

  .about-button-div{
    display:inline;
    width:30px;
    float:left;
    margin: 0;
    text-align: left;
  }

  .geocoding-div{
    float:left;
    display:inline;
    margin: 0 0 0 0%;
    width: 450px;
  }

  .geolocation-div {
    display: inline;
    width: 30px;
    float: left;
    margin: 0 0 0 18%;
  }

  .geo-button, .about-button{
    height: 30px;
    width: 30px;
    margin: 0 0 2% 0;
  }


  #geoCoding-Input, #geoCoding-Submit, #geoCoding-Label, #geoLocation-Label, #about-Button-Label{
    display:none;
  }

  #geoCoding-TextInput {
    border-radius: 6px;
    width: 390px;
    height: 30px;
    font-size: .8em;
    padding: 0 10px;
    margin: 0px 0;
  }

  #geoCoding-TextSubmit {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 0 0 2%;
    border-radius: 6px;
  }

  #geoCoding-TextSubmit:hover {
    background-image:url('../imgs/Search-48-B-4B4AA7.png');
  }
}

@media only screen and (min-width: 720px) and (min-height:1024px){

  #navBar3{
    margin-top: 2%;
  }

  .about-button-div{
    display:inline;
    width:100px;
    float:left;
    margin: 0 0 0 1%;
    text-align: left;
  }

  .geocoding-div{
    float:left;
    display:inline;
    margin: 0 0 0 0%;
    width: 450px;
  }

  .geo-button, .about-button{
    height: 50px;
    width: 50px;
    margin: 0 0 2% 0;
  }

  .geolocation-div {
    display: inline;
    width: 75px;
    float: left;
    margin: 0 0 0 12%;
  }

  #geoCoding-Input, #geoCoding-Submit, #geoCoding-Label, #geoLocation-Label, #about-Button-Label{
    display:none;
  }

  #geoCoding-TextInput {
    border-radius: 12px;
    width: 390px;
    height: 49px;
    font-size: .8em;
    padding: 0 10px;
    margin: 0px 0;
  }

  #geoCoding-TextSubmit {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0 0 0 2%;
    border-radius: 12px;
  }

  #geoCoding-TextSubmit:hover {
    background-image:url('../imgs/Search-48-B-4B4AA7.png');
  }
}

@media only screen and (min-width: 900px){

  #navBar3{
    margin-top: 2%;
  }

  .about-button-div{
    display:inline;
    width:30px;
    float:left;
    margin: 0;
    text-align: left;
  }

  .geocoding-div{
    float:left;
    display:inline;
    margin: 0 0 0 0%;
    width: 450px;
  }


  .geo-button, .about-button{
    height: 30px;
    width: 30px;
    margin: 0 0 2% 0;
  }

  .geolocation-div {
    display: inline;
    width: 30px;
    float: left;
    margin: 0 0 0 25%;
  }

  #geoCoding-Input, #geoCoding-Submit, #geoCoding-Label, #geoLocation-Label, #about-Button-Label{
    display:none;
  }

  #geoCoding-TextInput {
    border-radius: 6px;
    width: 390px;
    height: 30px;
    font-size: .8em;
    padding: 0 10px;
    margin: 0px 0;
  }

  #geoCoding-TextSubmit {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 0 0 2%;
    border-radius: 6px;
  }

  #geoCoding-TextSubmit:hover {
    background-image:url('../imgs/Search-48-B-4B4AA7.png');
  }

}

@media only screen and (min-width: 1100px){

  #navBar3{
    margin-top: 2%;
  }

  .about-button-div{
    display:inline;
    width:30px;
    float:left;
    margin: 0;
    text-align: left;
  }

  .geocoding-div{
    float:left;
    display:inline;
    margin: 0 0 0 0%;
    width: 450px;
  }


  .geo-button, .about-button{
    height: 30px;
    width: 30px;
    margin: 0 0 2% 0;
  }

  .geolocation-div {
    display: inline;
    width: 30px;
    float: left;
    margin: 0 0 0 30%;
  }

  #geoCoding-Input, #geoCoding-Submit, #geoCoding-Label, #geoLocation-Label, #about-Button-Label{
    display:none;
  }

  #geoCoding-TextInput {
    border-radius: 6px;
    width: 390px;
    height: 30px;
    font-size: .8em;
    padding: 0 10px;
    margin: 0px 0;
  }

  #geoCoding-TextSubmit {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 0 0 2%;
    border-radius: 6px;
  }

  #geoCoding-TextSubmit:hover {
    background-image:url('../imgs/Search-48-B-4B4AA7.png');
  }

}

@media only screen and (min-width: 1300px){

  #navBar3{
    margin-top: 2%;
  }

  .about-button-div{
    display:inline;
    width:30px;
    float:left;
    margin: 0;
    text-align: left;
  }

  .geocoding-div{
    float:left;
    display:inline;
    margin: 0 0 0 0%;
    width: 450px;
  }


  .geo-button, .about-button{
    height: 30px;
    width: 30px;
    margin: 0 0 2% 0;
  }

  .geolocation-div {
    display: inline;
    width: 30px;
    float: left;
    margin: 0 0 0 30%;
  }

  #geoCoding-Input, #geoCoding-Submit, #geoCoding-Label, #geoLocation-Label, #about-Button-Label{
    display:none;
  }

  #geoCoding-TextInput {
    border-radius: 6px;
    width: 390px;
    height: 30px;
    font-size: .8em;
    padding: 0 10px;
    margin: 0px 0;
  }

  #geoCoding-TextSubmit {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 0 0 2%;
    border-radius: 6px;
  }

  #geoCoding-TextSubmit:hover {
    background-image:url('../imgs/Search-48-B-4B4AA7.png');
  }

}

@media only screen and (min-width: 1600px){
  .geolocation-div {
    margin: 0 0 0 35%;
  }
}
