/* Default styling rules are...
   designed for smallest portrait-mode mobile devices first
   media queries adapt for larger screens and then landscape-mode
*/

#navBar3{
  align-content: center;
  text-align: center;
  justify-content: center;
  height: fit-content;
  background-color: #282c34;
  color:#fff;
  width:100%;
  margin: 0 0 2% 2%;
  z-index: +1;
}

#titleBar{
  padding:0;
  border:0;
  width:100%;
  height:100%;
  margin: 0;
  text-align: center;
}

#title {
  font-size: 1.5em;
  color: #fff;
  width: auto;
  height: 60%;
  margin: 0 0;
  border: 0;

}

#titleText {
  font-size: .8em;
  color: #fff;
  width: 100%;
  height: 60%;
  display: block;
  text-align: center;
  margin: 0 0;
  border: 0;
}

#geoLocation{
  display:inline;
  margin: 10% 0 0 0;
}

.geo-button-div, {
  width:auto;
}

.about-button-div{
  display:inline;
  width:30px;
  float:left;
  text-align: left;
}

.geocoding-div{
  float:left;
  display:inline;
  margin: 0 0 0 0%;
  width: 80%;
}

.geolocation-div, .backhome-div {
  display: inline;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0;
}

.geo-button, .about-button{
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  background-size: 120%;
  text-decoration: none;
  font-size: .8em;
  color: #fff;
  border: none;
  vertical-align:middle;
  padding: 0;
  text-align: center;
  align-content: center;
  height: 30px;
  width: 30px;
  border-radius: 6px;
}

.geo-button-label, .about-button-label {
  display:block;
  text-align: center;
  align-content: center;
  width:auto;
  height: 20px;
  font-size: .8em;
}
.backHome-div{
  width:30px;
  position: absolute;
  top:5%;
  left:5%;
  background-color: transparent;
}
#backHome-button{
    background-image:url('../imgs/Menu-48.png');
    float:left;
    text-align: left;
    align-content: left;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
    text-decoration: none;
    font-size: .8em;
    color: #fff;
    border: none;
    vertical-align:middle;
    padding: 0;
    text-align: center;
    align-content: center;
    height: 30px;
    width: 30px;
    border-radius: 6px;
}

#geoCoding-TextInput {
  border: 0 solid #000;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  color: #000;
  /* background: url(./...pmg) 0 0; */
  background-color: #bbb;
  width: 84%;
  height: 26px;
  display: inline;
  font-size: .8em;
  vertical-align: middle;
  /* padding: 0 10px; */
  margin-right: 1%;
  padding: 0;
  margin: 0;
}

#geoCoding-TextInput::placeholder{
  color:#000;
}

#geoCoding-TextSubmit {
  background-image:url('../imgs/Search-48-4B4AA7-B.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120%;
  text-decoration: none;
  color: #000;
  background-color: #000;
  width: 30px;
  height: 30px;
  display: inline;
  border: none;
  vertical-align: middle;
  padding: 0;
  margin: 0 0 0 1%;
  border-radius: 6px;
}

#geoCoding-TextSubmit:hover {
  background-image:url('../imgs/Search-48-B-4B4AA7.png');
}

#geoLocation-Submit {
    background-image:url('../imgs/FindMe-48-4B4AA7-B.png');
}

#about-Submit {
    background-image:url('../imgs/About-48-4B4AA7-B.png');
}

#geoCoding-Submit {
    background-image:url('../imgs/Search-48-4B4AA7-B.png');
}

#about-Submit:hover {
    background-image:url('../imgs/About-48-B-4B4AA7.png');
}

#geoCoding-Submit:hover {
    background-image:url('../imgs/Search-48-B-4B4AA7.png');
}

#geoLocation-Submit:hover{
    background-image:url('../imgs/FindMe-48-B-4B4AA7.png');
}

#geoCoding-Input, #geoCoding-Submit, #geoCoding-Label, #geoLocation-Label, #about-Button-Label{
  display:none;
}

/* #mainView div {
  width:300px;
  height:600px;
  text-align: center;
  background-color:#000;
} */

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Media Queries
   built and tested on Safaris Responsive Design Mode and Chrome DevTools Device Toolbar
   and a few actual Apple Android devices, Macs and Windows 10 PC's
*/

@media only screen and (min-width: 432px){
  #navBar3{
    width:100%;
    margin: 2% 2% 2% 0%;
  }

  .geocoding-div {
    width:83%;
  }

  #geoCoding-TextInput{
    width:87%;
  }

}

@media only screen and (min-width: 720px){

  #navBar3{
    width:95%;
    margin: 0% 2% 2% 6%;
  }

  #locationBar-div {
    margin: 6% 0 6% 0;
  }


  .geocoding-div {
    width:85%;
  }

  #geoCoding-TextInput{
    width:90%;
  }

  #temp-div{
    padding: 0 2% 0 2%;
  }

  #currentTemp{
    line-height: 20px;
  }
}


/*

  @media only screen and (min-width: 360px) {

  }

  @media only screen and (min-width: 560px) and (min-height: 320px) {

  }

  @media only screen and (min-width: 410px) and (min-height:660px){

  }

  @media only screen and (min-width: 720px) and (min-height:300px){

  }

  @media only screen and (min-width: 800px) and (min-height:375px){

  }

  @media only screen and (min-width: 720px) and (min-height:1024px){

  }

  @media only screen and (min-width: 900px){

  }

  @media only screen and (min-width: 1100px){

  }

  @media only screen and (min-width: 1300px){

  }

  @media only screen and (min-width: 1600px){

  }
*/
