

.weatherSummary, .hourOfDay, .hourlyTemp{
    text-align: left;
    align-content: left;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    text-decoration: none;
    font-size: 1em;
    border: none;
    vertical-align:middle;
    padding: 0;
    text-align: center;
    align-content: center;
    height: 30px;
    width: 30px;
    border-radius: 6px;
}

#forecastCondition{
  width:35%;
  font-size: 1.6em;
  line-height: 1em;
}

#cloudyDay, #cloudy, #foggyDay, #partlyCloudyDay,#cloudyNight, #partlyCloudyNight, #foggyNight,#rainDay, #rainyNight, #clearDay, #clearNight {
  float:left;
  width: 100%;
  height: stretch;
  margin: 0 0 0 0;
  padding: 0;
  z-index: -1;
}

#cloudyDay, #cloudy, #foggyDay, #partlyCloudyDay {
  background-color: #484848;
  background-image: linear-gradient(to bottom left, #484848,#48c4e0); /* Standard syntax (must be last) */
}

#cloudyNight, #partlyCloudyNight, #foggyNight {
  background-color: #757575;
  background-image: linear-gradient(to bottom left, #757575,#040429); /* Standard syntax (must be last) */
}

#rainDay {

}

#rainyNight {

}
#clearDay {

}

#clearNight {

}

@media only screen and (min-width: 720px){
  #cloudyDay, #cloudy, #foggyDay, #partlyCloudyDay, #cloudyNight,
  #partlyCloudyDay, #foggyNight, #rainDay, #rainyNight, #clearDay, #clearNight {
    margin: 6% 0 6% 0;
    height:110%;
  }
}
/* #cloud{
  background-image:url('../imgs/weather/Cloud-48.png');
}

#fog{
  background-image:url('../imgs/weather/Cloud-48.png');
}

#rain{
  background-image:url('../imgs/weather/Rain-48.png');
}

#snow{
  background-image:url('../imgs/weather/Snow-48.png');
}

#thunder{
  background-image:url('../imgs/weather/Thunder-48.png');
}

#snow{
  background-image:url('../imgs/weather/Sun-48.png');
}

#scatteredShowers{
  background-image:url('../imgs/weather/ScatteredShowers-48.png');
}

#partly-cloudy{
  background-image:url('../imgs/weather/PartlyCloudy-48.png');
}

#wind{
  background-image:url('../imgs/weather/Wind-48.png');
} */
