* {
  font-family: system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.svg {
  animation: App-logo-spin infinite 20s linear;
  /* animation-name: svg-spin;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  */
  height: 10vmin;
}

#navBrandPgh {
  margin: 0;
  padding: 0;
}

#navbar-bg {
  background-image: linear-gradient(to bottom, #007bff 0%, #007bff 100%);
  border-color: #007bff;
  border-radius: 0;
  margin: 0;
  padding: 0;
}

#font-color-white {
  color: #fff;
}
#font-color-purple:hover {
  color: #fff;
}
.jumbotron-container {
}

#jumbotron-custom {
  background-color: #17a2b8;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.8;
  padding: 4rem 2rem;
}

#jumbotron-h1 {
  font-size: 8.5rem;
  font-weight: 300;
  line-height: 1.1;
}

#footer {
  text-align: center;
}

#searchInput {
  width: 400px;
  margin: auto;
}

#formCmpnt {
  width: 100%;
  margin: auto;
}
